:root {
    --main-bg-color: #2a37a5;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    color: white;
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 23px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}

.search button {
    font-family: 'Courier New', Courier, monospace;

}

.search button:hover {
    font-weight: 900;
    cursor: pointer;
}

.slider {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    /* animation: slide 9s infinite; */
}

.card{
    width: 95%;
    margin: 37px auto;
    padding: 17px;
    font-family:Arial, Helvetica, sans-serif;
}
.price {
    color: #388e3c;   /* Flipkart green */
    font-size: 22px;
    font-weight: bold;
}

.cards{
    display: flex;
    overflow-x: scroll;   
    overflow-y: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

.card-item {
    min-width: 160px;
    flex-shrink: 0;  
    border: 1px solid black;
    margin: 0 18px;
    padding: 10px;
    text-align: center; 
    border-radius: 6px;
    background-color: white;
    /* cursor: pointer; */

}
.cards::-webkit-scrollbar{
    display: none;
}

.card-item img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    
}


.container {
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}